
<style>
.container {
      height:100%;
      width:100%;
      display: flex;
      position: fixed;
      align-items: center;
      justify-content: center;
      font-family: Arial,sans-serif;
    }
</style>
<div class="container">
    <div>
        <img src="logo.png"/><br/>
        <h1>Loading PWA_SYNC</h1>
        Press Alt to see Menu bar.
    </div>
</div>
